@import "tailwindcss";
@theme{
  --color-background-100:#0f172a;
  --color-background-200:#1e293b;
  --color-backgrround-300:#7f1d1d;
  --color-background-400:rgb(30, 41, 59);
  --color-background-500:#2563eb;
  --color-background-600:#991b1b;
  --color-background-700:#3b82f6;
  --color-text-100:#ffff;
  --color-text-200:#60a5fa;
  --color-text-300:#cbd5e1;
  --color-text-400:#fca5a5;
  --color-text-500:#94a3b8;
  --color-text-600:#cbd5e1;
  --color-border:#334155;
  
}
#neg1_btn:active{
transform: scale(0.95);
min-width: 30px;
}
#plus1_btn:active{
transform: scale(0.95);
min-width: 30px;
}
#neg2_btn:active{
transform: scale(0.95);
min-width: 30px;
}
#plus2_btn:active{
transform: scale(0.95);
min-width: 30px;
}
#neg3_btn:active{
transform: scale(0.95);
min-width: 30px;
}
#plus3_btn:active{
transform: scale(0.95);
min-width: 30px;
}


#btn-ckeckout:active{
 transform: scale(0.98);
}