@import "tailwindcss";
@theme{
  --color-background-100:#0f172a;
  --color-background-200:#1e293b;
  --color-backgrround-300:#7f1d1d;
  --color-text-100:#ffff;
  --color-text-200:#60a5fa;
  --color-text-300:#cbd5e1;
  --color-text-400:#fca5a5;
  --color-text-500:#94a3b8;
  --color-border:#334155;
}